body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
}

#sidebar {
  width: 300px;
  height: 5rem;
}

h1 {
  font-size: 20px;
  color: red;
  font-weight: 900;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.addBtn {
  margin-bottom: 5rem;
}

#table {
  width: 100%;
  border-collapse: collapse;
}

#table th,
#table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.create-new {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.nextBirtdayContainer{
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.d-none {
  display: none;
}
